body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


nav {
    display: flex;
    align-items:center;
    flex-direction: column;
    height: 430px;
    background-image: url('/src/images/city3.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    color: #fff;
    
}

.award {
    height: 100px;
    width: 500px;
    background-image: url('/src/images/rb.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin-top: 0;
}



.nav-buttons{
    margin-bottom: 170px;
}
.nav-buttons button {
    background-color: #02d6ae;
    color: white;
    font-weight: bold;
    margin: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.052);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .nav-buttons button:hover {
    background-color: #106b59;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  

nav img{
    width: 550px;
    height: 150px;
}

main {
    background-color: #f5f5f5;
}


.blue-box{
    bottom: 0;
    width: 70%;
    background-image: url('/src/images/deg.jpg');
    border-radius: 5px;
    padding: 30px;
}

.blue-box-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.blue-box select {
    display: flex;
    flex: 1;
    color: #696969;
    height: 50px;
    border: 1px solid #c1bfbf;
    padding: 5px;
    margin: 0;
}

.blue-box input {
    display: flex;
    flex: 3;
    color: #696969;
    height: 50px;
    border: 1px solid #c1bfbf;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
}

.blue-box button{
    margin-left: 10px;
    height: 50px;
    padding: 0 20px 0 20px;
    display: flex;
    flex: 1;
    font-size: 15px;
    background-color: rgb(47, 46, 46);
    color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}