body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}
.nav-container{
    position: relative;
    padding-top: 10px;
}
nav ul{
    padding:0;
    list-style: none;
    margin-left: auto;
}
nav ul li{
    display: flex;
    position: relative;
    display: inline-block;
    margin: 0 10px;
}
.logo-container{
    display: flex;
    flex:1;
    position: relative;
    align-items: center;
    margin-left: 10px;
    
}
.nav-links{
    margin-left: auto;
    align-self: flex-start;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
nav {
    display: flex;
    height: 430px;
    background-image: url('/src/images/background.jpg');
    color: #fff;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    position: relative;
}

main {
    padding: 5px;
    background-color: #f5f5f5;
}

.banner {
    position:relative;
    background-color: #f1f1f1;
    }
.button{
    position: relative;
    display: flex;
    width:170px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.flecha-der, .flecha-izq{
    width:50px;
    background-color:#02d6ae;
    border-radius: 10px;
    color: #fff;
    font-size: 30px;
    margin-right: 10px;
    border-color: #02d6ae;
}
.arrow-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
img{
    position: relative;
    align-items: center;
    width: 550px;
    height: 150px;
    margin: 0 auto;
}

.blue-box{
    position: absolute;
    align-items: flex-start;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width:900px;
    height: 120px;
    background-image: url('/src/images/deg.jpg');
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}

.blue-box select {
    position: relative;
    display: flex;
    width: 325px;
    color: #696969;
    height: 50px;
    border: 1px solid #c1bfbf;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
}
.products {
    margin-top: 20px;
    background-color: white;
    border-left: 10px solid #02d6ae;
    height: 50px;
    width: 1100px;
    text-align: start;
    padding-top:40px;
    padding: 20px;
    padding-left: 10px;
    display: grid;
    border-radius: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.products h2{
    padding: 10px;
}
.blue-box-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 100%;
}
.blue-box textarea {
    display: flex;
    align-items: start;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: Left;
    width: 400px;
    height: 30px;
    resize: none;
    border: none; 
    border-radius: 5px; 
    padding: 10px;
    margin: 0;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
html section article{
    padding: 2px;
    width: 450px;
    margin-top: 10px;
    background-color: white;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
html section article .contenido{
    width: 450px;
}
html section article .contenido .portada{
    display: flex;
    padding:2px,
}
html section article .contenido .portada img {
    padding: 10px;
    height: 200px;
    width: 400px;
  }
  html section article .contenido .informacion {
    margin: 0 15px;
    flex-grow: 1;
  }
  html section article .contenido .informacion .titulo {
    margin-top: 0;
}
html section article .contenido .informacion .tag-precio{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
}
html section article .contenido .informacion .tag-precio .type p{
    color: #02d6ae;;
    border-radius: 5px;
    font-weight: bold;
}

html section article .contenido .informacion .tag-precio .precio p{
    color: black;
    font-size: 22px;
    border-radius: 5px;
    font-weight: bold;
}
html section article .contenido .informacion .creator{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border-top: 1px solid #333;
}
html section article .contenido .informacion .creator .avatar img{
    height: 30px;
    width: 30px;
    margin-top: 5px;
}
html section article .contenido .informacion .creator .nombre{
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
}
html section article .contenido .informacion .creator .ranking {
    display: flex;
    align-items: center;
    margin-left: auto;
}
html section article .contenido .informacion .creator .ranking p{
    margin:0;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}
html section article .contenido .informacion .creator .ranking span{
    color: yellow;
}

.productList{
    display: flex;
    padding: 10px;
    flex-direction: row;
   }